body{
    height: 100vh;
    background: linear-gradient(rgb(29, 84, 84),rgb(70, 210, 192));
    }
*{
    box-sizing:content-box;
}
.calc{
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    background: linear-gradient(rgb(29, 84, 84),rgb(70, 210, 192));
    width: 273px;
    height: 382px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 10px rgba(0,0,0,0.5);
}
.gif{
    margin-bottom: auto;
}
.inp_num{
    background-color: rgb(0, 0, 0);
    color: rgb(188, 133, 50);
    background-color: rgb(87, 80, 80);
    color: blanchedalmond;
    height: 50px;
    border-radius: 10px;
    display: grid;
    justify-items: end;
    align-items: end; 
}
.inp_num p {
    text-align: right;
    font-size: 46px;
    margin: 0;
}
.btn_clear{
    background-color: rgb(90, 42, 42);
    margin-top: 5px;
    margin-bottom: -5px;
    width: 41%;
    height: 50px;
    font-size: 100%;
    font-weight: 700;
    border-radius: 10px;
    border-width: 5px;
}
.btn_del{
    background-color: rgb(90, 42, 42);
    width: 43px;
    height: 50px;
    font-size: 100%;
    font-weight: 700;
    border-radius: 10px;
    border-width: 5px;
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom: -5px;
}

.btn{
    margin: 1px;
    width: 43px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    font-weight: 700;
}

.btn_anim{
    transition: 0.2s all;
    opacity: 0.7;
}
.btn_anim:hover{
    opacity: 1;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0,0,0,0.9);
}
.calc_btn_operations{
    margin-top: -57px;
    margin-left: 3px;
}
.btn_operations{
    font-size: 30px;
    border-radius: 10px;
    font-weight: 700;
}
.btn_red{
    border-width: 5px;
    margin-bottom: 0px;
    margin-top: 2px;
    margin-left: 0px;

    background-color: rgb(117, 38, 18);

}
.btn_yellow{
    background-color: chartreuse;
    color: black;
    font-size: 30px;
    border-radius: 10px;
    font-weight: 700;
    border-width: 5px;
    margin-bottom: 3px;
    margin-top: 1px;
    
}
.res{
    margin-top: 2px;
}
.btn_green{
    background-color: rgb(129, 165, 94);
    color: black;
    font-size: 30px;
    border-radius: 10px;
    font-weight: 700;
    border-width: 5px;
}
.calc_btn_num{
    display: flex;

    font-size: 0;
}
.calc_num{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 205px;
    flex: none;
    margin-top: 8px;
}

.btn_zero{
    width: 43px;
}
